*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:#ecf0f3;
	outline:none;
	font-size:1.5rem;
}
.calculator{
	
	width:25%;
	margin-left:500px;
	
	padding:1rem;
	border-radius:5%;
	box-shadow:2px 10px 10px black;
}
.calculator button{
	padding:10px;
	margin-top:15px;
}
.calculator input{
	width:100%;
	padding:13px;
	border-radius:4%;
	border:none;
	box-shadow:7px 3px 12px black;
}
.btn{
	padding:12px;
}
.but{
	border-radius:50px;
	width:80px;
	border:none;
	box-shadow:2px 3px 3px black;
}