.content h1{
			color:#0D2A88;
			text-align:center;
		}
		.content h5{
			color:blue;
			text-align:center;
		}
		.card-title{
			color:#00185a;
		}
		.card-text{
			color:#7d6868;
		}
.plan{
	text-align:center;
}	
