*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.page1{
	background-color:black;
}
.logo h1{
	color:white;
	font-size:1.5rem;
}
.header{
	display:flex;
	justify-content:space-between;
	padding:1.5rem;
}
.header iconify-icon{
	color:white;
	font-size:2rem;
}
.navlink li{
	display:flex;
}
.navlink li,a{
	list-style:none;
	text-decoration:none;
	color:white;
	font-size:1rem;
	padding:0.6rem;
}
.navlink{
	display:none;
}
@media(min-width:768px){
	.navlink{
		display:none;
	}
	.header iconify-icon{
		display:block;
	}
}
@media(min-width:1024px){
	.navlink{
		display:block;
		display:flex;
	}
	.navlink li,a{
		font-size:0.9rem;
		padding:0.4rem;
	}
	.header iconify-icon{
		display:none;
	}
	.logo h1{
		font-size:1.6rem;
	}
	.header{
		padding:1.5rem;
	}
}
/* link finish */
.page1-1{
	background-image:url("devimg/banerimg.jpg");
	background-size:cover;
}
.banercon{
	text-align:center;
	padding-bottom:5rem;
}
.banercon h1{
	color:white;
	padding-top:6rem;
	font-size:2rem;
}
.banercon h3{
	color:white;
	font-size:1.5rem;
	line-height:2;
}
@media(min-width:768px){
	.banercon{
	padding-bottom:9rem;
	padding-top:3.5rem;
}
	.banercon h1{
		font-size:3rem;
	}
	.banercon h3{
		font-size:2rem;
	}
}
@media(min-width:1024px){
	.banercon{
	padding-bottom:17rem;
	padding-top:5rem;
}
	.banercon h1{
		padding-top:8rem;
		font-size:4.7rem;
	}
	.banercon h3{
		font-size:3rem;
	}
}
@media(min-width:1440px){
	.banercon{
	padding-bottom:18rem;
	}
}
/* baner section finish */
.page2{
	background-color:#F7F5F1;
}
.aboutdet{
	padding-top:2rem;
}
.aboutimg img{
	border-radius:3%;
}
.aboutname p{
		font-size:1.2rem;
		line-height:2.4;
}
.aboutimg{
	padding-bottom:2rem;
}
.aboutme1 h1{
	font-size:1.5rem;
	line-height:2;
}
.aboutme1 h1::after{
	content:"";
	width:20%;
	height:0.8vh;
	background-color:blue;
	display:block;
}
.aboutme1 p{
	font-size:1.3rem;
	padding-top:1rem;
}
.progress h1{
	line-height:2;
}
.progress p{
	line-height:3;
}
.progress progress{
	width:100%;
	height:6vh;
}
@media(min-width:768px){
	.aboutdet{
		display:flex;
		justify-content:space-between;
		width:100%;
	}
	.aboutimg{
		width:38%;
	}
	.aboutname{
		width:54%;
	}
}
@media(min-width:1024px){
	.aboutme{
		display:flex;
		width:100%;
	}
	.aboutme1{
		width:70%;
	}
	.aboudtet{
		width:30%;
	}
}
/* about section finish  */
.page3{
	text-align:center;
	background-color:#F7F5F1;
}
.serhead h1{
	font-size:2rem;
	line-height:2;
}
.serbox{
	text-align:center;
	background-color:white;
	padding-top:2rem;
	margin-top:2rem;
	padding-bottom:2rem;
	box-shadow:box-shadow:0px 0px 10px #76767670;
}
.serbox h1{
	line-height:2;
}
.serbox iconify-icon{
	border:7px solid blue;
	padding:2rem;
	border-radius:50%;
	font-size:2rem;
}
.serbox iconify-icon:hover{
	color:white;
	border:8px solid #668FED;
	background-color:blue;
}
@media(min-width:768px){
	.services{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:100%;
	}
	.serbox{
		width:48%;
		margin-top:2rem;
		padding-bottom:2rem;
	}

}
@media(min-width:1024px){
	.services{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:100%;
	}
	.serbox{
		width:30%;
	}

}
