*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.page1{
	background-color:black;
}
.logo h1{
	color:white;
	font-size:1.5rem;
}
.header{
	display:flex;
	justify-content:space-between;
	padding:1.5rem;
}
.header iconify-icon{
	color:white;
	font-size:2rem;
}
.navlink li{
	display:flex;
}
.navlink li,a{
	list-style:none;
	text-decoration:none;
	color:white;
	font-size:1rem;
	padding:0.6rem;
}
.navlink{
	display:none;
}
.nav ul iconify-icon{
	color:white;
}
.banicon iconify-icon{
	color:white;
}
@media(min-width:768px){
	.navlink{
		display:none;
	}
	.header iconify-icon{
		display:block;
	}
}
@media(min-width:1024px){
	.navlink{
		display:block;
		display:flex;
	}
	.navlink li,a{
		font-size:0.9rem;
		padding:0.4rem;
	}
	.header iconify-icon{
		display:none;
	}
	.logo h1{
		font-size:1.6rem;
	}
	.header{
		padding:1.5rem;
	}
}
/* link finish */
 .page1-1{
	background-color:#2b7a78;
	background-size:cover;
}
.banercon{
	text-align:center;
	padding-bottom:5rem;
	color:#152DC5;
}
.banercon iconify-icon{
	font-size:2rem;
}
.banercon h1{
	color:white;
	padding-top:6rem;
	font-size:2rem;
	font-family:Rubik Bubbles;
}
.banercon h3{
	color:black ;
	font-size:1.5rem;
	line-height:2;
}
@media(min-width:768px){
	.banercon{
	padding-bottom:9rem;
	padding-top:3.5rem;
}
	.banercon h1{
		font-size:3rem;
	}
	.banercon h3{
		font-size:2rem;
	}
	.banercon iconify-icon{
	font-size:4rem;
}
}
@media(min-width:1024px){
	.banercon{
	padding-bottom:17rem;
	padding-top:5rem;
}
	.banercon h1{
		padding-top:8rem;
		font-size:4.7rem;
	}
	.banercon h3{
		font-size:3rem;
	}
}
@media(min-width:1440px){
	.banercon{
	padding-bottom:18rem;
	}
}
/* baner section finish */
.page2{
	background-color:#def2f1;
	padding-bottom:2rem;
	padding-top:2rem;
}
.page2 h1{
	text-align:center;
}
.head h1{
	text-align:center;
}
.head h1::after{
	content:"";
	width:10%;
	height:0.9vh;
	display:block;
	margin:auto;
	margin-top:1rem;
	text-align:center;
	background-color:#2b7a78;
}
.aboutdet{
	padding-top:2rem;
}
.aboutimg img{
	border-radius:0% 40% 0% 40%;
	border:5px solid #2b7a78;
	width:100%;
}
.aboutname p{
		font-size:1.2rem;
		line-height:2.4;
}
.aboutimg{
	padding-bottom:2rem;
}
.aboutme  h1{
	font-size:1.5rem;
	line-height:2;
}

.aboutme1 h2{
	font-size:1.3rem;
	padding-top:1rem;
}
.aboutme1 li{
	font-size:1.2rem;
	line-height:1.3rem;
	padding-top:1rem;
	list-style:none;
}
.aboutme1 iconify-icon{
	color:black
}
.aboutres{
	font-size:1.4rem;
	line-height:2;
}
.icon{
	font-size:2rem;
}
.res iconify-icon{
	font-size:4rem;
}
.pro progress{
	border-radius:2%;
}
.pro p{
	font-size:1.5rem;
	padding-top:1rem;
}
@media(min-width:768px){
	.aboutdet{
		display:flex;
		justify-content:space-between;
		width:100%;
	}
	.aboutimg{
		width:48%;
	}
	.aboutres{
		width:48%;
	}
	.aboutname{
		width:54%;
	}
}
@media(min-width:1024px){
	.aboutme{
		display:flex;
		width:100%;
		justify-content:space-between;
	}
	.aboutme1{
		width:42%;
	}
	.aboutme1 h2{
		font-size:1.7rem;
	}
	.aboutme1 p{
		font-size:1.4rem;
		line-height:1.5;
	}
	.aboutimg{
		width:50%;
	}
	.aboutdet{
		width:54%;
		justify-content:space-between;
	}
	.aboutres p{
		font-size:1.4rem;
	}
	.aboutres{
		width:50%;
		padding-left:1rem;
	}
}
/* about section finish  */
.page4{
	padding-top:4rem;
	padding-bottom:4rem;
	text-align:center;
}
.res h2{
	color: #2b7a78;
}
.resume h1{
	text-align:center;
	text-shadow:0px 0px 3px black;
}
.resume h2{
	color:#2b7a78; ;
}
.page3{

	background-color:#def2f1;
	padding-bottom:2rem;
	padding-top:2rem;
}

.page3 h1{
	text-align:center;
}
.but{
	text-align:center;
}
.but button{
	background-color:#2b7a78;
	border:none;
	border-radius:7% 0% 5% 0%;
}
.but a{
	text-decoration:none;
	color:white;
}
.but a:hover{
	color:black;
}
.det{
	background-color:#D5F5E3;
	text-align:center;
	padding-top:8rem;
	padding-bottom:8rem;
}
.det img{
	border-radius:50%;
}
.iframe h3{
	text-align:center;
}
.iframe{
	text-align:center;
}
.resume1{
	box-shadow:0px 0px 2px 3px black;
}
.page4{
	
}
.page5{
	padding-top:2rem;
	padding-bottom:2rem;
}
.resum h1{
	font-size:1.3rem;
}
.container1{
	width:60%;
	margin:auto;
}
.cont{
	width:30%;
	height:40%;
	border:1px solid black;
	text-align:center;
}
.cont iconify-icon{
	font-size:2rem;
	border:5px solid black;
	border-radius:50%;
	height:5rem;
	width:5rem;
	margin:auto;
	justify-content:center;
	align-items:center;
	display:flex;
}
.contact{
	padding-top:2rem;
	padding-bottom:4rem;
}
.email {
	text-align:center;
	padding-top:1.5rem;
	box-shadow:0px 5px 10px 0px rgb(110 123 131/10%);
	padding-bottom:1.5rem;

}
.heading{
	text-align:center;
}
.heading:after{
	content:"";
	width:30%;
	height:1rem;
	background-color:red;
	display:block;
	text-align:center;
}
.email iconify-icon{
	font-size:2rem;
	height:5rem;
	width:5rem;
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid #2b7a78;
	border-radius:50%;
	text-align:center;
	margin:auto;
	color:#2b7a78;
}
.email iconify-icon:hover{
	background-color:#2b7a78;
	color:white;
}
.email h1{
	color:#909497;
	font-size:1.3rem;
	padding:1rem;
}
.email p{
	font-size:1.2rem;
}
.email a{
	text-decoration:none;
	color:white;
	border:1px solid #2b7a78;
	background-color:#2b7a78;
}
.email a:hover{
	color:white;
}
placeholder{
	font-size:1.8rem;
}
@media (min-width:768px){
	.address{
		display:flex;
		justify-content:space-between;
		padding-top:2rem;
	}
	.email{
		width:32%;
	}
}
.desingned{
	text-align:center;
	padding-bottom:1.7rem;
	padding-top:2rem;
	background-color:#2b7a78;
}
.desingned p{
	color:white; 
}